<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>
    <div class="root container-fluid">
        <div class="row">
            <div class="col">
                <fieldset v-on:keyup.enter="newTask()">
                    <legend>Add/Edit Tasks</legend>
                    <label for="title">Title</label>
                    <input type="text" v-bind:class="{alert:errors.first('title'),'alert-danger':errors.first('title')}" id="title" name="title" v-validate="'required'" v-model="task.title" />
                    <span v-if="errors.first('title')">*</span>
                    <label for="sDate">Start Date</label>
                    <input type="date" v-bind:class="{alert:errors.first('sDate'),'alert-danger':errors.first('sDate')}" name="sDate" id="sDate" v-validate="'required|date_format:DD/MM/YYYY'" v-model="task.startDate" />
                    <span v-if="errors.first('sDate')">*</span>
                    <input type="button" value="Save" @click="newTask()" />
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="t in taskList">
                            <th scope="row">{{t.id}}</th>
                            <td>{{t.title}}</td>
                            <td>{{t.startDate}}</td>
                            <td>{{t.endDate}}</td>
                            <td>{{t.status}}</td>
                            <td>
                                <input type="button" value="start" @click="startTask(t.id)" /> ||
                                <input type="button" value="pause" @click="pauseTask(t.id)" /> ||
                                <input type="button" value="Remove" @click="removeTask(t.id)" /> </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <!-- vee-validate -->
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script>
        Vue.use(VeeValidate); // good to go.
    </script>
    <script src="scripts/app.js "></script>
</body>

</html>